// Primary
$primary-main: #F87728;
$primary-dark: #C65F20;
$primary-light: #F99253;
$primary-contrast: #FFFFFF;

// Error
$error-main: #F12828;
$error-dark: #D81717;
$error-light: #FA5454;
$error-contrast: #FFFFFF;

// Success
$success-main: #179F25;
$success-dark: #0A7815;
$success-light: #3BCC4A;

// Text
$text-primary: #000000;
$text-secondary: #585858;
$secondary-primary: #A7AEB8;
$secondary-primary-20: rgba(#A7AEB8, .2);

$tablet-max-width: 1312px;
$mobile-max-width: 768px;