.container {
    max-width: $tablet-max-width;
    margin: 0 auto;
    padding: 0 16px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.table{
    width: '100%';
    color: #333;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
thead{
    position: sticky;
    top: 5px;
    background-color: #fff;
    th {
        padding: 20px;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        border-bottom: 2px solid #e9ecef;
        cursor: pointer
    }
}

tbody{
    tr{
        border-bottom: 1px solid #e9ecef;
        &:hover {
            background-color: #f8f9fa;
          }
    }
    td{
        padding: 20px;
        border-top: 1px solid #ddd;
        font-size: 14px;
    }
    .coin {
        display: flex;
        align-items: center;
    
        img {
          width: 24px;
          height: 24px;
          margin-right: 12px;
        }
    
        .name {
          font-weight: 600;
        }
    
        .symbol {
          color: #6c757d;
          text-transform: uppercase;
          margin-left: 8px;
          font-size: 10px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .container{
        max-width: 600px;
    }
}
@media screen and (max-width: 800px) {
    .container{
        max-width: 400px;
        display: flex;
        align-items: center;
    }
}